.events{
  list-style-type: none;
  cursor: pointer;
  margin-left:45%;
}

.events li {
  margin: .5em;
  height: 80px;
  background-color: #EEE;
}

.events li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.heroes li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}